* {
    box-sizing: border-box;
    cursor: none !important;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('https://raw.githubusercontent.com/SRIKAR-B-S-S/SoundStation/main/assets/background.jpg');
    background-size: cover;
}

.win-box {
    position: absolute;
    background-color: #f6f5ef;
    border: 2px solid #4a92ff;
    border-radius: 3px 3px 0 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.win-header {
  background: linear-gradient(
    to bottom,
    #0055ea 10%,
    #0055ea 90%,
    #002686 100%
  );
  color: white;
  padding: 3px 6px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  border-radius: 3px 3px 0 0;
}

.win-controls {
    display: flex;
    gap: 2px;
}

.win-btn {
    background: linear-gradient(to bottom, #3c93e7 0%, #0058ee 100%);
    border: 1px solid #7f9db9;
    font-size: 11px;
    display: flex;
    height: 18px;
    width: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: bold;
}

.win-btn.close-btn {
    background: linear-gradient(to bottom, #f78061 0%, #ae1600 100%);
}

/* All of the above added lines of code will be reused for the windows which I'll be further adding in my project*/
/* This is because they can be applicable to be used for any window */

.clock-body {
    text-align: center;
}

.time-text {
    margin-top: 34px;
    font-family: 'Verdana';
    font-size: 35px;
    font-weight: bold;
    color: #002d96;
}

.date-text {
    margin-top: 4px;
}

.win-clock {
    top: 20px;
    right: 20px;
    width: 260px;
    height: 180px;
}

/* Above four styles are for the elements in the System Time window*/

.win-tracks { /* Properties and positioning for the Soundtracks window */
    top: 40px;
    left: 35px;
    width: 240px;
    height: 350px;
}

.track-list {
    list-style: none; /* removes the dots from the list of soundtracks, giving it a better look */
}

.track-list li {
    font-size: 21px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.key-badge { /*named it as key-badge because it shows which key to press to enable that particular audio track */
    background: #333;
    color: #fff;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 3.5px;
    font-weight: bold;
}
/* Above four styles are for Soundtracks window */

/* Added the styles for Media Player Window below! */
.win-player {
    top: 200px;
    left: 440px;
    width: 440px;
    text-align: center;
    height: 340px;
}

.player-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vinyl-img {
    width: 220px;
    height: 220px;
    margin-bottom: 12px;
}

.vinyl-img.paused {
    content: url('https://raw.githubusercontent.com/SRIKAR-B-S-S/SoundStation/main/assets/SoundStation-static-vinyl.png'); /* Replaced the spinning vinyl gif with a static vinyl img when the Media Player is pause, previously it the spinning vinyl was greyscaled which is now removed.*/
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.media-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-button {
    background: linear-gradient(to bottom, #fff, #ece9d8);
    border: 1px solid #7f9db9;
    padding: 6px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: inset -1px -1px 1px #a0a0a0;
}

.key-hint {
    font-size: 9px;
    margin-top: 3px;
    font-weight: bold;
    color: #7a7a7a;
    font-family: 'Courier New', monospace;
}

.volume-status {
    font-size: 14px;
    margin-top: 12px;
    font-weight: bold;
    font-family: 'Segoe UI';
    color: #525252;
}

/* Styles for the guide window below: */
.info-tab {
    position: absolute;
    bottom: 20px;
    right: 0;
    background-color: #f6f5ef;
    border: 1px solid #4a92ff;
    border-right: none;
    padding: 8px 14px;
    border-radius: 5px 0px 0px 5px;
    font-size: 13px;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.win-guide {
    top: 280px;
    right: 25px;
    width: 340px;
}

.win-guide p {
    margin-left: 8px;
    font-size: 13.5px;
    margin-bottom: 8px;
    font-family: 'Segoe UI';
}

.guide-list {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
}

.guide-list li {
    font-size: 13px;
    margin-bottom: 8px;
    font-family: 'Segoe UI';
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hidden {
    display: none !important;
}